{% extends 'base.html' %}
{% block content %}

<form action="/boards/{{board.id}}/update">
    <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" name="title" value="{{board.title}}" placeholder="제목을 입력하세요">
    </div>

    <div class="form-group">
        <label for="contents">내용</label>
        <textarea class="form-control" id="contents" rows="3" name="contents">{{board.contents}}</textarea>
    </div>

    <div class="form-group">
        <label for="creator">작성자</label>
        <input type="text" class="form-control" id="creator" name="creator" value="{{board.creator}}" readonly>
    </div>

    <div class="form-group text-center">
        <input type="submit" value="작성하기" class="btn btn-success">
    </div>
</form>

{% endblock %}