{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1>{{article.title}}</h1>
<hr/>
<p>{{article.contents}}</p>
<p class="text-right">{{article.created_by}}</p>
<div>
    <!-- 
    <a href="/articles/{{article.id}}/edit" class="btn btn-primary">수정하기</a>
    <a href="/articles/{{article.id}}/delete" class="btn btn-danger">삭제하기</a>
    -->
    <!-- URL namespace 적용 -->
    <a href="{% url 'articles:edit' article.id %}" class="btn btn-primary">수정하기</a>
    <a href="{% url 'articles:delete' article.id %}" class="btn btn-danger">삭제하기</a>
</div>
</div>
{% endblock %}