<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>당신의 추첨번호는
      {% for num in result %}
      <span>{{num}}</span>
      {% endfor %}  
    </h1>
    <h3>지난주 추첨번호는
        {% for num in winning_list %}
        <slan>{{num}}</slan>
        {% endfor %}
    </h3>
    <h3>추첨번호와 일치하는 숫자는 {{winning_count}}개 입니다.</h3>
</body>
</html>